.divide {
  display: flex;
  /* gap:40px; */
  flex-direction: column;
}
#first {
  background: #029f58;
  /* padding:1rem; */
  background-image: url(../assets/img/Rectangle.png);
  /* background-repeat: no-repeat; */
  background-size: contain;
}

/* SECOND */
.about {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
}

.about :first-child {
  padding: 2rem;
  color: #007640;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 72px;
  line-height: 101.1%;
  letter-spacing: -0.03em;
  width: 50%;
}
.about :last-child {
  padding: 2rem;
  margin-top: -80px;
  width: 50%;
}

/* THIRD */
#third {
  /* padding: 2rem; */
  display: flex;
}
#third #fan-third {
  background: #ffffff;
  padding: 4rem;
  flex: 2;
}

#third .fans-area4 {
  padding: 2rem;
  flex: 2;
}
.fans-tag {
  position: relative;
  width: 100px;
  height: 32px;
  left: 59px;
  background: #ffbb62;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -52px;
  margin-bottom: 52px;
  padding: 1rem;
}
.fans-fourth-2 {
  display: flex;
  gap: 16rem;
  flex-wrap: inherit;
}
.fans-area2 {
  font-style: normal;
  font-weight: 500;
  font-size: 68px;
  line-height: 101.1%;
  letter-spacing: -0.03em;
  color: #121212;
}
.fans-area3 {
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #121212;
  opacity: 0.6;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 2rem;
}
.boxes1 {
  background: #ffffff;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.boxes2 {
  background: #ffffff;
  padding: 0.5rem;
  display: flex;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  flex-direction: column;
  color: #0009;
  width: 70%;
  align-self: end;
}

.boxes2 strong {
  display: flex;
  justify-content: end;
}
.boxes3 {
  background: #ffffff;
  padding: 0.5rem;
  display: flex;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  flex-direction: column;
  color: #0009;
  width: 70%;
}
.boxes3 strong {
  display: flex;
  justify-content: start;
}
.boxes4 {
  background: #ffffff;
  padding: 0.5rem;
  display: flex;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  flex-direction: column;
  color: #0009;
  width: 70%;
}
.boxes4 strong {
  display: flex;
  justify-content: start;
}
.boxes5 {
  background: #ffffff;
  padding: 1rem;
  display: flex;
  /* flex-direction: column; */
  color: #0009;
  align-items: center;
  gap: 0.5rem;
}

.boxes1 embed {
  position: relative;
  left: -0.6rem;
}
.boxes1 h4 {
  margin-left: -18px;
}
.boxes1 embed:first-child {
  position: relative;
  left: 1rem;
  height: 21px;
}
input:focus {
  outline: none;
}
input[type="text"] {
  border: 1px solid #fff;
  background: #e9e9e9;
  height: 58px;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  font-size: 14px;
  color: #717171;
}
.assets {
  background: #e9e9e9;
  height: 58px;
  border-radius: 10px;
  padding: 1rem;
  color: #717171;
  position: relative;
  top: -4.8rem;
  left: 13.8rem;
}
/* FOURTH */
#fan-fourth-1 {
  background-image: url(../assets/img/Fan\ 2\ background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #039352;
  padding: 5rem;
  flex: 1;
}
.fans-area4-1 {
  background-image: url(../assets/img/Fans\ 2\ background.png);
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  padding: 5rem;
}

/* FIFTH */
.influencers-tag {
  position: relative;
  width: 100px;
  height: 32px;
  left: 59px;
  background: #ff8c62;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -52px;
  margin-bottom: 52px;
}
.influencers-icon {
  position: relative;
  left: 2px;
  background-image: url(../assets/img/Filter\ Icon.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.influencers-icon-1 {
  background-image: url(../assets/img/Chat\ Icon.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.influencers-tag-1 {
  position: relative;
  width: 125px;
  height: 32px;
  left: 58px;
  background: #ff8c62;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -42px;
  margin-bottom: 52px;
  text-align: center;
  padding: 1rem;
}
#influencer-fifth-1 {
  background-color: rgb(255, 255, 255);
  color: #000;
  padding: 5rem;
  flex: 1;
  margin-top: 13rem;
}
.influencer-area4-1 {
  padding: 5rem;
  flex: 1;
}
.influencer-tag {
  display: flex;
  gap: 16rem;
  flex-wrap: inherit;
}

/* SIXTH */
#sixth {
  display: flex;
}
#influencer-fifth-2 {
  background: url(../assets/img/dark1.png);
  background-color: #004056;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #202020;
  color: #000;
  padding: 5rem;
  flex: 1;
  margin-top: -5rem;
}
.influencer-area4-2 {
  background: url(../assets/img/Frame\ 42.png);
  background-color: #272727;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem;
  color: #ffffff;
  flex: 1;
  margin-top: -5rem;
  display: flex;
}
.mycontainer {
  background: url(../assets/img/Group\ 106.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-self: center;
  /* background: #0076411d; */
  margin-top: 2rem;
  padding: 2rem;
  border-bottom-left-radius: 50px;
  margin-bottom: 2rem;
}
.decline {
  background: #e34d4d;
  border-radius: 5px;
  padding: 0.5rem;
  width: 7rem;
  text-align: center;
}
.accept {
  background: #029c56;
  border-radius: 5px;
  padding: 0.5rem;
  width: 7rem;
  text-align: center;
}
.decAndacc {
  display: flex;
  gap: 3rem;
  /* margin-left: 5.9rem; */
}
.decAndacc a {
  text-decoration: none;
  color: #fff;
}
/* .section-up {
  position: relative;
  bottom: 25 rem;
  width: 49 rem;
  background: #454545;
} */

/* SEVENTH */
#seventh {
  background: #e79675;
  padding: 2rem;
}
.ease-of-use {
  position: relative;
  left: 1rem;
}
.contain {
  display: flex;
  gap: 2rem;
  position: relative;
  top: 0;
}
.chain-link {
  background: rgb(172, 172, 172);
  height: 416px;
  left: 1rem;
  width: 2px;
  position: relative;
  top: 7rem;
  margin-top: -5.5rem;
}
.box1 {
  position: relative;
  width: 22px;
  height: 22px;
  left: -0.6rem;
  background: rgb(255, 255, 255);
  border-top: 3px solid #000000;
  border-left: 3px solid #000000;
  border-bottom: 3px solid #029f58;
  border-right: 3px solid #029f58;
  border-radius: 50%;
  /* box-sizing: border-box; */
}
.box2 {
  position: relative;
  width: 22px;
  height: 22px;
  left: -0.6rem;
  top: 7rem;
  background: rgb(255, 255, 255);
  border-top: 3px solid #000000;
  border-left: 3px solid #000000;
  border-bottom: 3px solid #029f58;
  border-right: 3px solid #029f58;
  border-radius: 50%;
  /* box-sizing: border-box; */
}
.box3 {
  position: relative;
  width: 22px;
  height: 22px;
  left: -0.6rem;
  top: 14.5rem;
  background: rgb(255, 255, 255);
  border-top: 3px solid #000000;
  border-left: 3px solid #000000;
  border-bottom: 3px solid #029f58;
  border-right: 3px solid #029f58;
  border-radius: 50%;
  /* box-sizing: border-box; */
}

.horizontal-line {
  width: 75rem;
  justify-content: center;
  flex-direction: column;
  color: #000;
  align-self: center;
  position: relative;
}
.horizontal-background {
  position: relative;
  left: 28rem;
  top: -22rem;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/img/Frame\ 10.png);
}
.section-up {
  position: relative;
  bottom: 35rem;
  padding: 2rem;
  display: flex;
  overflow: auto;
  gap: 2rem;
  /* background: #454545; */
  background-image: url(../assets/img/Fan\ 2\ background.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8rem;
  width: 72%;
  left: 5rem;
}
.ewooral {
  margin-left: -1rem;
}
.stronger {
  color: #fff;
}
.smaller {
  color: #ffffffa1;
}
/* EIGHT-FOOTER */
#footer {
  display: flex;
  background: #ffffff;
  padding: 6rem;
  gap: 10rem;
  justify-content: space-around;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}
.searchTerm {
  width: 100%;
  border: 2px solid #b1b0b0;
  border-right: none;
  padding: 1.5rem;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #454545;
}
.searchTerm:focus {
  color: #797979;
  background: #ecfbff;
}
.searchButton {
  border: 13px solid #000000;
  background: #000000;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-left: -10px;
  border-radius: 0px 10px 10px 0px;
}
.links {
  display: flex;
  gap: 4rem;
  margin-left: -2.3rem;
}
.links ul li {
  list-style: none;
  margin-top: 20px;
  text-decoration: none;
  color: rgb(3, 3, 3);
}
.links a {
  text-decoration: none;
  color: #363636;
}
ul li:first-child {
  font-weight: bold;
}
.socials {
  display: flex;
  width: 3pc;
  gap: 1.7rem;
  margin-top: 20px;
}
.footer-images {
  display: flex;
  flex-direction: column;
  align-self: center;
}

body {
  padding: 0;
  margin: 0;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 50px;
}
aside article {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 94.6%;
  text-align: center;
  letter-spacing: -0.06em;
}
aside small {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}
.figure-img {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.about {
  background-image: url(../assets/img/About\ section.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.embedded-img {
  /* width: 40rem; */
  margin-bottom: -5rem;
  margin-left: 0.1rem;
}

@media screen and (max-width: 900px) {
  aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 50px;
  }
  aside article {
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 94.6%;
    text-align: center;
    letter-spacing: -0.06em;
  }
  .footer-images {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }
  aside small {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #ffffff;
  }
  .about {
    background-image: url(../assets/img/About\ section.png);
  }
  .figure-img {
    flex-direction: column;
  }
  embed[alt="Component"] {
    width: 40rem;
  }
  .about :first-child {
    padding: 2rem;
    color: #007640;
    font-family: DM Sans;
    font-weight: 500;
    font-size: 50px;
    line-height: 101.1%;
    letter-spacing: -0.03em;
    width: 90%;
  }

  .about :last-child {
    padding: 2rem;
    margin-top: -80 px;
    width: 90%;
  }
  #third {
    display: flex;
    flex-direction: column;
  }
  .fans-area2 {
    font-size: 46px;
  }
  #footer {
    display: flex;
    flex-direction: column;
    gap: inherit;
  }
  .links {
    display: flex;
    gap: 0;
    flex-wrap: wrap;
  }

  .box2 {
    top: 6.8rem;
  }
  .box3 {
    top: 11.29em;
  }
}
